$spec: #404040;
$bg: #EEEEEE;

.skills {

  margin-bottom: -10px;
  
  &--row {
    display: flex;
    border-bottom: 1px solid silver;

    
    div {
      flex-basis: 33.3%;
      padding-right: 10px;
    }
  }

  &--header {
    color: $spec;
    font-weight: 600;
  }
}